
/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
}

.banner {
  display: flex;
}

/* Header */

header {
  height: 30rem;
  padding: 1rem;
  background-image: url(../resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

 nav {
   border: 1px solid yellow;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 0;
   background-color: cadetblue;
   color: white;
 }

nav div {
    display: flex;
    align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  border: 1px solid red;
  margin-right: 1rem;
  align-items: flex-end;
}

nav li {
  display: inline;
  padding: 0 1rem;

}

.mobile-menu {
  display: none;
}

header .banner {
  border: 1px solid red;
  justify-content: flex-end;
}

.banner-main {
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}


/* Main Content */

/* Icon */

.main{
  display: flex;
  justify-content: center;
}

.icon {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.icon img {
  width: 5rem;
  margin-bottom: 1rem;
}

.icon img.paperIcon {
  width: 3.5rem;
}


/* Info */

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.info h3 {
  max-width: 10rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  color: white;
}

.info p {
  padding: 1rem 0;
}


/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem 2rem;
}
 footer img {
   height: 1.5rem;
   margin-left: 2rem;
   margin-right: 1rem;
 }
